/**
 * Base Stylings
 */

* {
  font-family: "Raleway", sans-serif;
  color: #636B6F;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}

#app {
  width: 100%;
}

main {
  width: 75%;
  margin: 5rem auto 0;
}

ul {
  padding: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #0984E3;
}

.nav__list {
  margin: 0;
  list-style: none;
}

.nav__list li {
  display: inline-block;
  color: #FCFCFC;
}

.nav__list li a {
  padding: 0.5rem;
  color: #FCFCFC;
}

.nav__list--right {
  margin-left: auto;
}

/**
 * Standard Table Styling
 */

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.table__row {
  list-style: none;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__row--equal-half li {
  width: 50%;
}

.table__row--equal-half li:last-child {
  border-left: none;
}

.table__cell {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #636B6F;
  border-top: none;
}

.table__cell a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.table__cell--header {
  padding: 0.75rem 0.5rem;
  color: #FCFCFC;
  border: none;
}

.table__header {
  background-color: #0984E3;
}

