/**
 * Base Stylings
 */

* {
  font-family: "Raleway", sans-serif;
  color: #636B6F;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}

#app {
  width: 100%;
}

main {
  width: 75%;
  margin: 5rem auto 0;
}

ul {
  padding: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #0984E3;
}

.nav__list {
  margin: 0;
  list-style: none;
}

.nav__list li {
  display: inline-block;
  color: #FCFCFC;
}

.nav__list li a {
  padding: 0.5rem;
  color: #FCFCFC;
}

.nav__list--right {
  margin-left: auto;
}

