// Typography
$default-font: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #636B6F;
$white: #FCFCFC;
$blue: #0984E3;
$purple: #546DE5;

$tablet: 768px;
$desktop: 992px;